.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px - 67px);
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  
  .info{
    text-align: center;
    button{
      height: 60px;
      font-size: 24px;
      border-radius: 3px;
    }
  }
}