.wrapper{
  margin-bottom: 12px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 12px;
  border-radius: 5px;
  background-color: #f6f6f6;

  &:hover{
    border-color: #707070;
  }

  .component{
    pointer-events: none; // 屏蔽鼠标的行为
  }
}